## Data Imputation EM

In [8]:
pip install impyute

Requirement already satisfied: impyute in /Users/shiyuandeng/anaconda3/lib/python3.7/site-packages (0.0.8)
Requirement already satisfied: scipy in /Users/shiyuandeng/anaconda3/lib/python3.7/site-packages (from impyute) (1.3.0)
Requirement already satisfied: scikit-learn in /Users/shiyuandeng/anaconda3/lib/python3.7/site-packages (from impyute) (0.21.2)
Requirement already satisfied: numpy in /Users/shiyuandeng/anaconda3/lib/python3.7/site-packages (from impyute) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /Users/shiyuandeng/anaconda3/lib/python3.7/site-packages (from scikit-learn->impyute) (0.13.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from datetime import datetime as dt
import numpy as np
from functools import reduce
import pandas as pd

In [10]:
df_test = pd.read_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_Test.csv')
df_train=pd.read_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_Train.csv')
df_validation=pd.read_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_Validation.csv')

In [11]:
df_test1 = df_test.drop(['States','ind_acc_XYZ'], 1)
df_train1= df_train.drop(['States','ind_acc_XYZ'], 1)
df_validation1=df_train.drop(['States','ind_acc_XYZ'], 1)

In [12]:
import impyute as impy   #indXYZ
def EM_impute(df):
    impute=impy.em(df)
    impute.columns=list(df)
    return impute

In [13]:
data_em_test=EM_impute(df_test1)
data_em_train=EM_impute(df_train1)
data_em_validation=EM_impute(df_validation1)

In [16]:
data_em_validation.describe()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,card_inq_24_month_num,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,rep_income,Default_ind
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,94563.702530,14088.235475,296.697000,149.771750,268.015200,0.11135,0.027400,0.030200,329.287867,1.762700,3.409600,0.163050,0.141000,0.503157,0.511007,0.507629,0.485436,75088.430798,0.079300
std,23546.443862,9314.495936,61.711702,34.016476,59.364769,0.43389,0.171903,0.171142,2073.899357,1.740816,2.926697,0.386099,0.349607,0.109354,0.113456,0.108624,0.118994,16283.561356,0.270213
min,2367.430000,2363.120000,54.000000,21.000000,41.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065120,0.033749,0.005174,0.000000,12000.000000,0.000000
25%,78743.750000,11321.502500,255.000000,127.000000,227.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.429611,0.435171,0.433550,0.405329,64000.000000,0.000000
50%,94670.630000,13243.750000,297.000000,150.000000,268.000000,0.00000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.502800,0.509922,0.507193,0.485147,75000.000000,0.000000
75%,110329.335000,15196.060000,339.000000,172.000000,308.000000,0.00000,0.000000,0.000000,0.000000,3.000000,5.000000,0.000000,0.000000,0.577412,0.588418,0.581376,0.564579,86000.000000,0.000000
max,188890.960000,99999.000000,545.000000,296.000000,520.000000,4.00000,2.000000,1.000000,32662.980000,10.000000,18.000000,2.000000,2.000000,0.969289,0.988964,1.000000,0.970776,150000.000000,1.000000

In [17]:
index1=df_test[['States','ind_acc_XYZ']]
index2=df_train[['States','ind_acc_XYZ']]
index3=df_validation[['States','ind_acc_XYZ']]

In [18]:
Df_test=data_em_test.join(index1)
Df_train=data_em_train.join(index2)
Df_validation=data_em_validation.join(index3)

In [20]:
Df_test.to_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_Test_em.csv')

In [21]:
Df_train.to_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_Train_em.csv')

In [22]:
Df_validation.to_csv('/Users/shiyuandeng/Desktop/UGA/DataScienceCompetition/UGA Data Science Competition 2021 - 3242021 - 146 PM/Simulated_Data_validatiion_em.csv')