In [1]:
### read training data###

In [2]:
import pandas as pd
dataset=pd.read_csv('Simulated_Data_Train.csv')
dataset.head()
validation = pd.read_csv('Simulated_Data_Validation.csv')
test=pd.read_csv('Simulated_Data_Test.csv')

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,...,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,States,Default_ind
0,80826.71,15872.99,300.0,114.0,292.0,0.0,0.0,0.0,0.00,3.0,...,0.0,0.0,0.365902,0.475594,0.410504,NaN,0.0,69000.0,AL,0.0
1,96052.60,12178.02,281.0,102.0,232.0,0.0,0.0,0.0,0.00,2.0,...,1.0,0.0,0.542786,0.543158,0.535147,0.587351,0.0,61000.0,FL,0.0
2,75212.76,12052.24,261.0,149.0,260.0,0.0,0.0,0.0,0.00,1.0,...,0.0,1.0,0.323678,0.321776,0.348713,0.413293,0.0,NaN,AL,0.0
3,70727.84,8416.80,227.0,93.0,223.0,2.0,1.0,1.0,11013.96,0.0,...,1.0,0.0,0.448721,0.422809,0.491365,0.466810,0.0,79000.0,SC,1.0
4,41604.47,10611.97,249.0,136.0,241.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.644030,0.619987,0.546655,0.588442,1.0,NaN,LA,0.0

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(dataset, explorative=True)

#Saving results to a HTML file
profile.to_file("output.html")

In [84]:
dataset.describe().to_csv('describe.csv')

In [4]:
## KNN imputation ###

In [68]:


from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)

In [69]:
def imput(dataset):
    data = pd.DataFrame(imputer.fit_transform(dataset.iloc[:,0:19]))
    data['States']=dataset['States']
    data['Default_ind']=dataset['Default_ind']
    data.columns=list(dataset)
    return (data)
test=imput(test)
data=imput(data)
vali=imput(validation)

In [70]:
test.to_csv('KNN_impute_test.csv')
data.to_csv('KNN_impute.csv')
vali.to_csv('KNN_impute_validation.csv')

In [ ]:
profile2 = ProfileReport(data, explorative=True)

#Saving results to a HTML file
profile2.to_file("data.html")